<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_GeneralService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_DatabaseService" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_LogsService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:55555/Database/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_DatabaseService" contract="DatabaseService.DatabaseService"
                name="WSHttpBinding_DatabaseService" />
            <endpoint address="http://127.0.0.1:55555/General/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_GeneralService" contract="GeneralService.GeneralService"
                name="WSHttpBinding_GeneralService" />
            <endpoint address="http://127.0.0.1:55555/Logs/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_LogsService" contract="Logs.LogsService"
                name="WSHttpBinding_LogsService" />
        </client>
    </system.serviceModel>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>-->
</configuration>
