<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_GeneralService">
                    <security mode="None" />
                </binding>
                <binding name="WSDualHttpBinding_DatabaseService">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_GeneralService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_DatabaseService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:55555/General/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_GeneralService" contract="GeneralService.GeneralService"
                name="WSHttpBinding_GeneralService" />
            <endpoint address="http://127.0.0.1:55555/General/dual" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_GeneralService" contract="GeneralService.GeneralService"
                name="WSDualHttpBinding_GeneralService" />
            <endpoint address="http://127.0.0.1:55555/Database/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_DatabaseService" contract="DatabaseService.DatabaseService"
                name="WSHttpBinding_DatabaseService" />
            <endpoint address="http://127.0.0.1:55555/Database/dual" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_DatabaseService" contract="DatabaseService.DatabaseService"
                name="WSDualHttpBinding_DatabaseService" />
        </client>
    </system.serviceModel>
</configuration>