<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobileHubClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MobileHubClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobileHubClient.Properties.ClientSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MobileHubClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientSDKSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClientSDKSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pmht.plexxis.com/clients.asmx" binding="basicHttpBinding"
                bindingConfiguration="ClientSDKSoap" contract="PMH.ClientSDKSoap"
                name="ClientSDKSoap" />
            <endpoint address="http://pmht.plexxis.com/clients.asmx" binding="customBinding"
                bindingConfiguration="ClientSDKSoap12" contract="PMH.ClientSDKSoap"
                name="ClientSDKSoap12" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MobileHubClient.Properties.ClientSettings>
            <setting name="OutMessageLimit" serializeAs="String">
                <value>16777215</value>
            </setting>
            <setting name="AddressRegex" serializeAs="String">
                <value>\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b</value>
            </setting>
            <setting name="DefaultAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>55555</value>
            </setting>
        </MobileHubClient.Properties.ClientSettings>
        <MobileHubClient.Properties.Settings>
            <setting name="OutMessageLimit" serializeAs="String">
                <value>16777215</value>
            </setting>
        </MobileHubClient.Properties.Settings>
    </applicationSettings>
</configuration>