<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClientSDKSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClientSDKSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pmht.plexxis.com/clients.asmx" binding="basicHttpBinding"
                bindingConfiguration="ClientSDKSoap" contract="PMH.ClientSDKSoap"
                name="ClientSDKSoap" />
            <endpoint address="http://pmht.plexxis.com/clients.asmx" binding="customBinding"
                bindingConfiguration="ClientSDKSoap12" contract="PMH.ClientSDKSoap"
                name="ClientSDKSoap12" />
        </client>
    </system.serviceModel>
</configuration>