<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DevelopersSoap" maxReceivedMessageSize="1073741824"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="DevelopersSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pmht.plexxis.com/developers.asmx" binding="basicHttpBinding" bindingConfiguration="DevelopersSoap" contract="DevelService.DevelopersSoap" name="DevelopersSoap"/>
            <endpoint address="http://pmht.plexxis.com/developers.asmx" binding="customBinding" bindingConfiguration="DevelopersSoap12" contract="DevelService.DevelopersSoap" name="DevelopersSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
