<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="APISoap" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="APISoap12" >
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pmht.plexxis.com/api.asmx" binding="basicHttpBinding"
                bindingConfiguration="APISoap" contract="Service.APISoap"
                name="APISoap" />
            <endpoint address="http://pmht.plexxis.com/api.asmx" binding="customBinding"
                bindingConfiguration="APISoap12" contract="Service.APISoap"
                name="APISoap12" />
        </client>
    </system.serviceModel>
</configuration>