<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_DatabaseService">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_GeneralService">
                    <security mode="None" />
                </binding>
                <binding name="NetNamedPipeBinding_LogsService">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_DatabaseService" useDefaultWebProxy="false">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_GeneralService" useDefaultWebProxy="false">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_LogsService" useDefaultWebProxy="false">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:55555/Database/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_DatabaseService" contract="DatabaseService.DatabaseService"
                name="WSHttpBinding_DatabaseService" />
            <endpoint address="net.pipe://localhost/Database/pipe" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_DatabaseService"
                contract="DatabaseService.DatabaseService" name="NetNamedPipeBinding_DatabaseService" />
            <endpoint address="http://127.0.0.1:55555/General/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_GeneralService" contract="GeneralService.GeneralService"
                name="WSHttpBinding_GeneralService" />
            <endpoint address="net.pipe://localhost/General/pipe" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_GeneralService"
                contract="GeneralService.GeneralService" name="NetNamedPipeBinding_GeneralService" />
            <endpoint address="http://127.0.0.1:55555/Logs/webs" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_LogsService" contract="Logs.LogsService"
                name="WSHttpBinding_LogsService" />
            <endpoint address="net.pipe://localhost/Logs/pipe" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_LogsService" contract="Logs.LogsService"
                name="NetNamedPipeBinding_LogsService" />
        </client>
    </system.serviceModel>
</configuration>