<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ManagerSDKSoap" maxReceivedMessageSize="1073741824" useDefaultWebProxy="false" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ManagerSDKSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport  maxReceivedMessageSize="1073741824" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://pmht.plexxis.com/management.asmx" binding="basicHttpBinding"
                bindingConfiguration="ManagerSDKSoap" contract="ManagementWebservice.ManagerSDKSoap"
                name="ManagerSDKSoap" />
            <endpoint address="http://pmht.plexxis.com/management.asmx" binding="customBinding"
                bindingConfiguration="ManagerSDKSoap12" contract="ManagementWebservice.ManagerSDKSoap"
                name="ManagerSDKSoap12" />
        </client>
    </system.serviceModel>
</configuration>